#skills>div>div>div {
    transition: transform 0.5s ease;
}

#skills>div>div>div:hover {
    transform: translate(0, -2.7px);
}


#buttonToTitle>div>div:hover {
    background-color: rgb(230, 229, 229);
}

#pageUpButton {
    position:fixed;
    bottom:2.5rem;
    right:10rem;
}

#projects>div>div>div>div{
    transition:transform 0.5s ease;
}

#projects>div>div>div>div:hover{
    transform: translate(0, -2.7px);
}

@media screen {
    
}
