#skills>div>div>div {
    transition: transform 0.5s ease;
}

#skills>div>div>div:hover {
    transform: translate(0, -2.5px);
    background-color: rgb(246, 245, 245);
}


#buttonToTitle>div>div:hover {
    background-color: rgb(230, 229, 229);
}

#pageUpButton {
    position:fixed;
    bottom:2.5rem;
    right:10rem;
}

@media screen {
    
}
